Capstone V1/WindowsFormsApplication2/bin/Debug/WindowsFormsApplication2.vshost.exe.config
Capstone V1/WindowsFormsApplication2/bin/Debug/WindowsFormsApplication2.exe.config
Capstone V1/WindowsFormsApplication2/bin/
Capstone V1/WindowsFormsApplication2/obj/
Capstone V2/WpfApplication2/WpfApplication2/bin/
Capstone V2/WpfApplication2/WpfApplication2/obj/
Capstone V3/CapstoneSolution/BookDomain/obj/
Capstone V3/CapstoneSolution/BookDomainTest/obj/
