Capstone V1/WindowsFormsApplication2/bin/Debug/WindowsFormsApplication2.vshost.exe.config
Capstone V1/WindowsFormsApplication2/bin/Debug/WindowsFormsApplication2.exe.config
Capstone V1/WindowsFormsApplication2/bin/
Capstone V1/WindowsFormsApplication2/obj/
